<!DOCTYPE html>
<html>
    <head>
        <style>
            body {background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
            h1 {font-size: 26px; text-align: center;}
            p {font-size: 16px; text-align: center;}
            form {font-size: 16px; text-align: center;}
        </style>
    </head>
    <body>
        <h1> Hello </h1>
        <h1> Please enter your info </h1>
        <form method="post" action="/employee" >
            <p>Name: </p>
            <input type=text name="name"/>
            <p>Cargo: </p>
            <input type=text name="cargo"/>
<br>
<br>
            <input type="submit" name="submit" value="submit" />
        </form>
        <br>
        <br><br>
       </body>

</html>
