<!DOCTYPE html>
<html>
<head>
<style>
body {background: skyblue; font-family: verdana; color: #fff; padding: 30px;}
h1 {font-size: 26px; text-align: center;}
p {font-size: 16px; text-align: center;}
ul {font-size: 16px; text-align: center;}
</style>
</head>
<body>
<br><br>
<h1> Welcome to the profile of <%=person.name%></h1>
<p> He works as an <%=person.cargo%></p>
<br><br>

</body>

</html>
